<!--<?xml version="1.0" encoding="utf-8"?>-->
<!--<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"-->
<!--        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">-->

<mapper namespace="Dao.IUserDao">

    <select id="queryUserInfoById" resultType="pojo.User">
        SELECT id, userId, userHead, userName
        FROM user
        where id = #{id} and userId = #{userId1}
    </select>

    <select id="queryUserInfo" parameterType="pojo.User" resultType="pojo.User">
        SELECT id, userId, userName, userHead
        FROM user
        where id = #{id} and userId = #{userId}
    </select>

    <select id="queryUserInfoList" resultType="pojo.User">
        SELECT id, userId, userName, userHead
        FROM user
    </select>

    <update id="updateUserInfo" parameterType="pojo.User">
        UPDATE user
        SET userName = #{userName}
        WHERE id = #{id}
    </update>

    <insert id="insertUserInfo" parameterType="pojo.User">
        INSERT INTO user
        (userId, userName, userHead, createTime, updateTime)
        VALUES (#{userId}, #{userName}, #{userHead}, now(), now())
    </insert>

<!--    <delete id="deleteUserInfoByUserId" parameterType="java.lang.String">-->
<!--        DELETE FROM user WHERE userId = #{userId}-->
<!--    </delete>-->

</mapper>